html {
	margin-top:54px!important;
	transition:margin-top .2s linear
}
html.pt-pb-closed {
	margin-top:0!important
}
html.pt-pb-closed .pt-pb {
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
}
.pt-pb {
	font:normal normal 14px/1 Helvetica Neue,Helvetica,Arial,sans-serif;
	position:absolute;
	z-index:999999;
	background-color:#232323;
	border-bottom:1px solid #000;
	height:53px;
	top:0;
	left:0;
	right:0;
	box-sizing:content-box;
	transition:transform .2s linear
}
@media (min-width:600px) {
	.pt-pb {
		position:fixed
	}
}
.pt-pb a {
	text-decoration:none!important;
	border-bottom:none
}
.pt-pb__logo {
	position:absolute;
	top:0;
	left:6px
}
@media (min-width:600px) {
	.pt-pb__logo {
		left:12px
	}
}
.pt-pb__logo a {
	display:block;
	text-indent:-9999px;
	background:url(../../images/logo-proteusthemes.svg) no-repeat;
	margin-top:6px;
	width:201px;
	height:40px;
	background-size:201px 40px
}
.pt-pb__purchase-button {
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif!important;
	display:block;
	float:right;
	background-color:#82b440;
	color:#fff!important;
	border-radius:4px;
	padding:10px 20px;
	box-shadow:0 2px 0 #6c9635;
	margin:8px 12px 0;
	position:relative;
	z-index:1
}
.pt-pb__purchase-button:hover {
	background-color:#7aa93c
}
.pt-pb__remove-frame {
	display:none
}
@media (min-width:600px) {
	.pt-pb__remove-frame {
		display:block;
		float:right;
		color:#fff;
		padding-left:15px;
		padding-right:15px;
		margin-right:12px;
		opacity:.67;
		transition:opacity .1s;
		font-size:30px;
		line-height:53px;
		cursor:pointer;
		font-weight:700
	}
	.pt-pb__remove-frame:hover {
		color:#fff;
		opacity:1
	}
}
.pt-pb__reopen {
	display:none
}
@media (min-width:600px) {
	.pt-pb__reopen {
		display:block;
		position:fixed;
		z-index:999990;
		background-color:#82b440;
		border-top:0;
		width:46px;
		height:36px;
		top:0;
		right:12px;
		cursor:pointer;
		border-radius:0 0 3px 3px;
		box-shadow:0 2px 0 #6c9635
	}
	.pt-pb__reopen:before {
		position:absolute;
		content:'';
		border-width:10px 8px 0;
		border-style:solid;
		border-color:transparent;
		border-top-color:#fff;
		top:13px;
		left:15px
	}
}
@media (min-width:600px) {
	.pt-pb-loaded .pt-sticky-menu__container {
		top:54px
	}
	.pt-pb-closed .pt-sticky-menu__container,.pt-pb-sliding-down .pt-sticky-menu__container {
		top:0
	}
}
@media (min-width:980px) {
	.pt-pb-loaded.pt-theme-webmarket .navbar-fixed-top {
		top:54px
	}
	.pt-pb-closed .pt-theme-webmarket .navbar-fixed-top,.pt-pb-sliding-down .pt-theme-webmarket .navbar-fixed-top {
		top:0
	}
}
@media (min-width:980px) {
	.pt-pb-loaded.pt-theme-hairpress .navbar-fixed-top {
		top:54px
	}
	.pt-pb-closed .pt-theme-hairpress .navbar-fixed-top,.pt-pb-sliding-down .pt-theme-hairpress .navbar-fixed-top {
		top:0
	}
}
@media (min-width:980px) {
	.pt-pb-loaded.pt-theme-carpress .navbar-fixed-top.attached {
		top:54px!important
	}
	.pt-pb-closed .pt-theme-carpress .navbar-fixed-top.attached,.pt-pb-sliding-down .pt-theme-carpress .navbar-fixed-top.attached {
		top:0!important
	}
}
@media (min-width:980px) {
	.pt-pb-loaded.fixed-header .js--navbar {
		top:54px
	}
	.pt-pb-closed .fixed-header .js--navbar,.pt-pb-sliding-down .fixed-header .js--navbar {
		top:0
	}
}
@media (min-width:992px) {
	.pt-pb-loaded.has-sticky-header .header--sticky {
		top:54px
	}
	.pt-pb-closed .has-sticky-header .header--sticky,.pt-pb-sliding-down .has-sticky-header .header--sticky {
		top:0
	}
}
@media (min-width:992px) {
	.pt-pb-loaded.is-sticky-navbar .header .navigation {
		top:54px
	}
	.pt-pb-closed .is-sticky-navbar .header .navigation,.pt-pb-sliding-down .is-sticky-navbar .header .navigation {
		top:0
	}
}
@media (min-width:992px) {
	.pt-pb-loaded.is-sticky-nav .header__navigation {
		top:54px
	}
	.pt-pb-closed .is-sticky-nav .header__navigation,.pt-pb-sliding-down .is-sticky-nav .header__navigation {
		top:0
	}
}
@media (min-width:992px) {
	.pt-pb-loaded.is-sticky-nav .header {
		top:54px
	}
	.pt-pb-closed .is-sticky-nav .header,.pt-pb-sliding-down .is-sticky-nav .header {
		top:0
	}
}
