@charset "utf-8";
/* CSS Document */

.euro_head1
{
    background: url(../images/euro/eurobg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 270px;
    max-height: 320px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head1::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.6);
}



.euro_head2
{
    background: url(../images/euro/euro_head2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 270px;
    max-height: 320px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head2::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.6);
}


.euro_head3
{
    background: url(../images/euro/euro_head3.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head3::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.6);
}
.euro_head4
{
    background: url(../images/euro/euro_head4.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head4::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}


.euro_head5
{
    background: url(../images/euro/euro_head5.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head5::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}

.euro_head6
{
    background: url(../images/euro/euro_head6.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head6::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}


.euro_head7
{
    background: url(../images/euro/euro_head7.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head7::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}


.euro_head8
{
    background: url(../images/euro/euro_head8.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head8::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}

.euro_head9
{
    background: url(../images/euro/eurobg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 360px;
    max-height: 380px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head9::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
}

.euro_head10
{
    background: url(../images/euro/euro_head10.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 430px;
    max-height: 430px;
    z-index: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
	float: left;
}
.euro_head10::before 
{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: rgba(41,54,62,0.3);
}
.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.euro_head_block .euro_head_content {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(-50%, -50%);
}

.euro_head_block .euro_head_content::before, .euro_head_block .euro_head_content::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    background-color: #687075;
    width: 1px;
}

.euro_head_block .euro_head_content::before {
    left: 0;
}

.euro_head_block .euro_head_content::after {
    right: 0;
}


.euro_head_block .euro_head_content h3 {
    color: #ff4e00;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.1px;
    line-height: 32px;
    text-transform: uppercase;
    position: relative;
    border-bottom: 1px solid #687075;
    padding-bottom: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    display: block;
    padding-left: 80px;
    padding-right: 80px;
    word-wrap: break-word;
}

.euro_head_content .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 15px;
    padding: 0;
}

.euro_head_content .breadcrumb li {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    word-wrap: break-word;
    display: inline-block;
}

.euro_head_content .breadcrumb a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
    word-wrap: break-word;
}

.euro_head_content .breadcrumb li.active {
    color: #fff;
}


#euro_prod
{
    float: left;
    width: 100%;
    padding: 60px 0px 20px;
}


.prod_head_kar
{
	float:left;
	width:100%;
	padding:20px 0px;
	text-align:center;
}
.prod_head_kar h2
{
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 24px;
}

.prod_head_kar h2::before {
    margin-right: 5px;
	content:url(../images/title_blue.png);
}

.euro_info_1
{
    float: left;
    width: 100%;
    padding: 40px 0px;
}

.neuro_infocontent h2
{
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 24px;
	text-align: left;
}

.neuro_infocontent h2::before {
    margin-right: 5px;
	content:url(../images/title_blue.png);
}

.neuro_infocontent p
{
	line-height: 24px;
    font-weight: 400;
    font-style: normal;
    color: #1f1f1f;
    font-size: 14px;
	text-align:justify;
	font-family: 'Lato', sans-serif;
}


.choose_euro {
    border: 1px solid #ff4e00;
    box-shadow: 8px 8px 0 0 #ff4e00;
    float: left;
    padding: 30px 30px 0;
}

.choose_euro h2
{
    line-height: 1.5;
    font-weight: 700;
    font-style: normal;
    color: #000;
    font-size: 24px;
	text-align: left;
	font-family: 'Lato', sans-serif;
}
.choose_euro h2::before {
    margin-right: 5px;
	content:url(../images/title_blue.png);
}
.choose_icon_k {
    float: left;
    display: inline-block;
    position: relative;
    z-index: 9;
}

.choose_icon_k .icon_k
{
    width: 40px;
	height: 40px;
	font-size: 28px;
	line-height: 38px;
	-webkit-transition: color 0.5s ease-in;
	-moz-transition: color 0.5s ease-in;
	-o-transition: color 0.5s ease-in;
	-ms-transition: color 0.5s ease-in;
	transition: color 0.5s ease-in;
	border: 0px;
}

.choose_content_k h4 
{
	font-size: 20px;
    line-height: 38px;
    color: #000;
	font-family: 'Lato', sans-serif;
}

.kar_prod_block
{
    float: left;
    width: 100%;
    padding: 70px 0px 30px;
	background-color:#F5F5F5;
}

.kar_prod_block2
{
    float: left;
    width: 100%;
    padding: 40px 0px 30px;
}

.kar_prod_block2  .prod_head_kar
{
	background-color:#FFED00;
	padding:60px 0px;
	-webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.45);
	-moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.45);
	box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.45);
}

.prod_box_euro
{
    float: left;
    width: 100%;
    background-color: #fff;
}

.prod_box_euro .nopadding
{
	border:1px solid #eeeeee;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	border-bottom:none;
	padding-bottom: 85px;
}
.prod_box_euro .nopadding:hover
{
	box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}


.prod_box_euro .padding
{
	padding:40px 0px;
	border:1px solid #eeeeee;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.prod_box_euro .padding:hover
{
	box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.prod_img_kar
{
    float: left;
    width: 100%;
    text-align: center;
}

.prod_cont_kar
{
    float: left;
    width: 100%;
	padding: 10px 0px 0px 10%;
}

.prod_cont_kar h2
{
    color: #313338;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.prod_cont_kar li
{
    font-size: 16px;
	color: #ff4e00;
	line-height: 1.8;
	list-style-type: disc;
}


.prod_cont_kar li p
{
    font-size: 16px;
	color: #454545;
	line-height: 1.8;
	list-style-type: disc;
}




.euro_sweep .cleaner_content{
	float:left;
	width:100%;
	position:relative;
	padding:20px 00px 00px;
	border:1px solid #e5e5e5;
	text-align:center;
}
.euro_sweep .cleaner_content::before{
	content:"";
	position:absolute;
	bottom:0px;
	left:0px;
	width:0px;
	height:2px;	
}

.euro_sweep .cleaner_content h2
 {
    color: #313338;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

.euro_sweep .cleaner_content .btn_read{
	margin-bottom: 0;
    color: #000;
    background-color: #FFED00;
    padding: 10px 0px;
	float: left;
	width: 100%;
}
/*Hover Style*/
.single_cleaner {
	position: relative;
	display: inline-block;
}

.single_cleaner:before {
	pointer-events: none;
	position: absolute;
	content: '';
	bottom: -20px;
	left: 5%;
	height: 16px;
	width: 90%;
	filter: alpha(opacity=0);
	opacity: 0;
  	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -moz-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -o-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-o-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-o-transition-property: transform, opacity;
	-ms-transition-property: transform, opacity;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.single_cleaner:hover:before, 
.single_cleaner:focus:before, 
.single_cleaner:active:before {
	filter: alpha(opacity=100);
	opacity: 1;
}

.single_cleaner:hover
{
	padding-bottom:20px;
}
.single_cleaner:hover figure::before,
.euro_sweep .single_cleaner:hover .cleaner_content:before
{
	width:100%;	
}


.single_cleaner figure::before,
.euro_sweep .cleaner_content::before,
.single_cleaner:hover .cleaner_no
{
    background-color: #f29100 !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;

}
.single_cleaner,
.single_cleaner figure,
.single_cleaner figure::before,
.cleaner_no,
.euro_sweep .cleaner_content::before,
.cleaner_no a,
.euro_sweep .cleaner_content,
.euro_sweep .cleaner_content p
 
{
	 transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;

}



.single_karc_vac
{
    position: relative;
    overflow: hidden;
	float:left;
	width:100%;
}

.img_karvac_box
{
	float:left;
	width:100%;
	overflow:hidden;
}
.prod_vac_karc img 
{
    max-width: 100%;
    min-height: 300px;
    position: relative;
    -webkit-transition: opacity 0.35s, -webkit-transform 2.35s;
    transition: opacity 0.35s, transform 2.35s;
    transform: translate3d(0,0,300px);
    -moz-transform: translate3d(0,0,300px);
    -moz-transition: opacity 0.35s, -moz-transform 2.35s;
    transition: all 3000ms ease;
    -moz-transition: all 3000ms ease;
    -webkit-transition: all 3000ms ease;
    -ms-transition: all 3000ms ease;
    -o-transition: all 3000ms ease;
}

.single_karc_vac:hover img {
    -moz-transform: rotate(4deg) scale(1.20);
	-webkit-transform: rotate(4deg) scale(1.20);
	-o-transform: rotate(4deg) scale(1.20);
	-ms-transform: rotate(4deg) scale(1.20);
	transform: rotate(4deg) scale(1.20);
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}


.title_box_vacu
{
    display: block;
    width: 120px;
    height: 120px;
    text-align: center;
    background: #ff4e00;
    color: #1f425d;
    position: absolute;
    right: 15px;
    right: 0;
    bottom: 0;
    left: auto;
    top: auto;
    padding: 3% 5px;
	font-size: 14px;
	text-transform:capitalize;
    font-weight: bold;
	-webkit-transition: all 1s ease 1s;
    -moz-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
}

.single_karc_vac:hover .title_box_vacu
{
	background-color:#1f425d;
	-webkit-transition: all 1s ease 1s;
    -moz-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
	color:#ff4e00;
}

.kar_vac_list
{
    float: left;
    width: 100%;
    padding: 5px 40px;
    background-color: #fff;
	margin-bottom: 40px;
	min-height: 150px;
	text-align: left;
}
.kar_vac_list li
{
    font-size: 16px;
	color: #ff4e00;
	line-height: 1.8;
	list-style-type: disc;
}


.kar_vac_list li p
{
    font-size: 16px;
	color: #454545;
	line-height: 1.8;
	list-style-type: disc;
}


.euro_floor_box
{
    border: 1px solid;
    float: left;
    width: 100%;
}

.floor_title_box {
	background-color: #fff;
	padding-top: 70px;
	text-align: center;
    height: 190px;
	-webkit-transition: all 1s ease 0.5s;
    -moz-transition: all 1s ease 0.5s;
    -o-transition: all 1s ease 0.5s;
    transition: all 1s ease 0.5s;
}
.euro_floor_box .floor_img_box {
    position: relative;
}
.euro_floor_box .floor_img_box{
    width: 100%;
    /*height: 309px;*/
}
.euro_floor_box .floor_img_box img{
    width: 100%;
    height: 100%;
}

.nopadding:hover .floor_title_box
{
	background-color:#FFED00;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}
.euro_floor_box .floor_img_box.arrow_top:after {
    top: -16px;
}
.euro_floor_box .floor_img_box.arrow_bottom:after{
    bottom: -16px;
}
.euro_floor_box .floor_img_box.arrow_top:after,
.euro_floor_box .floor_img_box.arrow_bottom:after {
    background-color: #fff;
    border-color: #fff;
    border-image: none;
    border-right: 1px solid #fff;
    border-style: none;
    content: "";
    display: block;
    height: 34px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 34px;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}

.euro_floor_box .floor_img_box.arrow_right:after {
    top: 50%;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}
.nopadding:hover .arrow_bottom:after,
.nopadding:hover .arrow_top:after
{
	background-color:#FFED00;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}
.euro_floor_box .floor_img_box.arrow_right:after {
    background-color: #fff;
	border-color: #fff;
	border-image: none;
	border-right: 1px solid #fff;
	border-style: none;
	content: "";
	display: block;
	height: 34px;
	left: 0;
	margin-left: -16px;
	position: absolute;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 34px;
}
.nopadding:hover .arrow_right:after
{
	background-color:#FFED00;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}

.euro_floor_box .floor_img_box.arrow_left:after {
    top: 50%;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}

.euro_floor_box .floor_img_box.arrow_left:after {
    background-color: #fff;
	border-color: #fff;
	border-image: none;
	border-right: 1px solid #fff;
	border-style: none;
	content: "";
	display: block;
	height: 34px;
	right: 0;
	margin-right: -16px;
	position: absolute;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 34px;
}
.nopadding:hover .arrow_left:after
{
	background-color:#FFED00;
	-webkit-transition: all 1s ease 0.1s;
    -moz-transition: all 1s ease 0.1s;
    -o-transition: all 1s ease 0.1s;
    transition: all 1s ease 0.1s;
}
.floor_title_box h2 {
  color:#FFED00;
  line-height:32px;
  margin-bottom: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.13s ease-in-out;
  transition: all 0.1s ease-in-out;
    font-family: 'Raleway', sans-serif;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 1px;
   padding: 0px 30px;
}
.nopadding:hover .floor_title_box h2
{
	color:#fff;
}
.floor_title_box h2::after {
    content: " ";
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #e5e5e5;
    display: table;
    padding-top: 15px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 50px;
}

.floor_img {
    overflow: hidden;
}
.floor_img img{
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.nopadding:hover .floor_img img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

 
@media (max-width: 480px) {
  .floor_img {
    margin-bottom: 0px;
  }
}


.euro_sweep .single_cleaner figure::before, 
.euro_sweep .single_cleaner:hover .cleaner_no {
    background-color: #FFED00 !important;
}


.euro_sweep .cleaner_content::before
{
    background-color: #000 !important;
}
.kar_machinebox .machine_content
{
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 00px 00px;
    border: 1px solid #e5e5e5;
    text-align: center;
	background-color: #ff4e00;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.kar_machinebox
{
	overflow:hidden;
}

.kar_machinebox:hover img

{
	 -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.kar_machinebox img

{
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}



.machine_content h2 {
    color: #313338;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.kar_machinebox:hover .machine_content h2
{
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.machine_content .btn_read {
    margin-bottom: 0;
    color: #999;
    background-color: #181d20;
    padding: 10px 0px;
    float: left;
    width: 100%;
}

.machine_content:hover .btn_read
{
	background-color:#FF5053;
	color:#000;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
	
}


.karch_solution_prod
{
    float: left;
    width: 100%;
    padding: 70px 0px 20px;
}

.solution_info
{
    float: left;
    width: 100%;
    padding: 30px 20px;
    background-color: #ff4e00;
}

.solution_info h2
{
    color: #313338;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.solution_info p
{
    color: #f56408;
    font-size: 14px;
    line-height: 2;
    margin: 0;
    padding-bottom: 10px;
    text-align: justify;
}

.steam_box
{
	overflow:hidden;
	float: left;
width: 100%;
}

.steam_img
{
	overflow:hidden;
	float: left;
width: 100%;
    background-color: #ff4e00;

}
.steam_box img 
{
    width: 100%;
    transition: all 3000ms ease;
    -moz-transition: all 3000ms ease;
    -webkit-transition: all 3000ms ease;
    -ms-transition: all 3000ms ease;
    -o-transition: all 3000ms ease;
}

.steam_box:hover img {
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

.scale-effect img
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
	padding: 10px;
}

.scale-effect {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background-size: auto 130% !important;
}


.scale-effect h4
{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
}

.scale-effect:hover img
{ 
	-webkit-transform: scale(1);
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}


.img_dry
{
	overflow:hidden;    
	border: 1px solid #ff4e00;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	min-height: 300px;
}
.icedry_info
{
    padding: 60px 40px;
	background-color: #ff4e00;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	min-height: 300px; color:#fff;
}
.scale-effect:hover .icedry_info
{
	background-color: #fff; color: rgba(249,129,11,1.00);
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border: 2px solid #ff4e00;

}

.scale-effect:hover .img_dry
{
	border:1px solid #149de7;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

.icedry_info .btn_more
 {
    padding: 15px 10px;
    background-color: #fff;
    float: left;
}

.scale-effect:hover .btn_more
{
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-ms-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
	background-color: #ff4e00;
}


.dry_choose
{
    float: left;
    width: 100%;
    padding: 30px 0px;
}


.choose_head
{
    float: left;
    width: 100%;
    background-color: #ff4e00;
    padding: 20px 20px;
}

.list_choose ul {
    float: left;
    width: 100%;
    display: inline-block;
    padding: 0px 40px;
}


.span-content {
    display: block;
    font-size: 30px;
    color: white;
    width: 10%;
    height: 60px;
    text-align: center;
    padding: 10px;
    float: left;
    background-color: #0f4e82;
}

.list_choose li
{
    font-size: 16px;
	color: #ff4e00;
	line-height: 1.8;
	list-style-type: disc;
	padding:5px 0px;
	float: left;
	width: 100%;
}
.list_choose p {
        float: left;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #109780;
    text-align: justify;
    padding-left: 10px;
    margin: 0;
}



.tankclean_img
{
    overflow: hidden;
    float: left;
    background-color: #ff4e00;
	width: 100%;
}

.left_wash
{
    text-align: center;
    padding: 70px 0px;
}



@media(max-width:767px ){
	
	
.euro_floor_box .floor_img_box.arrow_right::after,
.euro_floor_box .floor_img_box.arrow_left::after
{
	display:none;
}